<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <nav id="menu" class="clearfix">
          <div class="item left logo-container clearfix"><img class="logo" src="http://www.haskell.org/static/img/logo.png" alt="Haskell Logo"><span class="logo-text">PVP.haskell.org</span></div>
          <div class="item link left">[<a href="/">Specification</a>]</div> &nbsp;
          <div class="item link left">[<a href="/faq">FAQ</a>]</div>
        </nav>
         
        <div id="container">
            $body$
        </div>

        <footer>
          <p>If you'd like suggest changes, please <a href="https://github.com/haskell/pvp/issues">open an issue on GitHub</a>.</p>
        </footer>
    </body>
</html>
